@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #003049;
  padding: 8px 0;
}

p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: #4c4c4c;
}

ul {
  margin: 0;
  padding: 0;
}

.tags ul {
  list-style: none;
  padding: 0 16px;
}

.tags ul li {
  padding-right: 8px;
  display: inline-block;
}

.post-container {
  display: grid;
  padding: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 24px;
}

.post-container > div:nth-child(even) {
  background: orange!important;
  padding-bottom: 50px;
}


.postTags {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.postTags li {
  font-size: 11px;
  color: #bbb;
  display: inline-block;
  padding: 32px 8px 24px 8px;
}

.postTags li:nth-child(1) {
  padding-left: 0;
}

.tag-text {
  font-size: 11px;
  color: #bbb;
  padding: 32px 8px 24px 8px;
}
