@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #003049;
  padding: 8px 0;
}

p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: #4c4c4c;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.m-grid {
  margin-left: 2.5%;
  width: 100%!important;
}